{% extends 'base.html.twig' %}

{% block body %}
    <main class="page landing-page">
        {% for flash_success in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flash_success }}</div>
        {% endfor %}
        {% include('layouts/home_banner.html.twig') %}
        <section>
            <div class="container py-4 py-xl-5">
                <div id="tricks-list" class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-5">
                    {% for trick in tricks %}
                        <div class="col">
                            <div class="card">
                                <a href="{{ path('app_trick_show', {
                                    slug: trick.slug
                                }) }}">
                                    <img class="card-img-top w-100 d-block fit-cover trick_list_img" alt="{{ trick.mediaCover.altText }}"
                                         src="{{ trick.mediaCover.url is not null ? asset('images/tricks/thumbnails/' ~ trick.mediaCover.url) : asset('images/tricks/thumbnails/default_cover.jpg') }}" />
                                </a>
                                <div class="card-body">
                                    <p class="text-primary d-flex justify-content-around align-items-center card-text mb-0">
                                        <a href="{{ path('app_trick_show', { slug: trick.slug }) }}">{{ trick.name }}</a>
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <span class="d-flex gap-2">
                                                <a href="{{ path('app_trick_edit', { slug: trick.slug }) }}"><i class="far fa-edit"></i></a>
                                                <a class="delete-trick-button" href="#" data-bs-target="#modal-delete"
                                                   data-bs-toggle="modal"
                                                   data-url="{{ path('app_trick_delete', { slug: trick.slug }) }}">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                            </span>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center mt-3 mb-3">
                    <img id="loading-spinner" class="mb-3" alt="Loading spinner" src="{{ asset('images/spinner.gif') }}"/>
                    <button class="btn btn-primary" id="more-tricks-btn" data-page="1" type="submit">See more tricks</button>
                </div>
                <div class="alert alert-danger" role="alert" id="more-tricks-alert">
                    <span><strong>Error : </strong> unable to load more tricks.</span>
                </div>
            </div>

        </section>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% include 'layouts/modals/delete_trick_modal.html.twig' %}
        {% endif %}
    </main>
{% endblock %}